
<div id="slider">
    <figure>
      <img src="assets/img/b6.PNG" alt>
      <img src="assets/img/b10.PNG" alt>
      <img src="assets/img/b12.PNG" alt>
      <img src="assets/img/b6.PNG" alt>
      <img src="assets/img/b10.PNG" alt>
      <img src="assets/img/b12.PNG" alt>
      <img src="assets/img/b6.PNG" alt>
      <img src="assets/img/b10.PNG" alt>
      <img src="assets/img/b12.PNG" alt>
      <img src="assets/img/b6.PNG" alt>
      <img src="assets/img/b10.PNG" alt>
      <img src="assets/img/b12.PNG" alt>
      <img src="assets/img/b6.PNG" alt>
      <img src="assets/img/b10.PNG" alt>
      <img src="assets/img/b12.PNG" alt>
      <img src="assets/img/b6.PNG" alt>
      <img src="assets/img/b10.PNG" alt>
      <img src="assets/img/b12.PNG" alt>
    </figure>
</div>